<template>
    <form @submit.prevent="editStaff">
        <div class="modal-card" style="width: 640px">
            <header class="modal-card-head">
                <p class="modal-card-title">Edit Employee</p>
            </header>
            <section class="modal-card-body">
                <b-field label="Name"
                         :type="{'is-danger': hasError('name')}"
                         :message="getError('name')">
                    <b-input
                            type="text"
                            v-model="form.name"
                            placeholder="Employee Name"
                            required>
                    </b-input>
                </b-field>
                <b-field label="Surname"
                         :type="{'is-danger': hasError('surname')}"
                         :message="getError('surname')">
                    <b-input
                            type="text"
                            v-model="form.surname"
                            placeholder="Employee Surname"
                            required>
                    </b-input>
                </b-field>
                <b-field label="Patronymic"
                         :type="{'is-danger': hasError('patronymic')}"
                         :message="getError('patronymic')">
                    <b-input
                            type="text"
                            v-model="form.patronymic"
                            placeholder="Employee Patronymic"
                            required>
                    </b-input>
                </b-field>
                <b-field label="Avatar"
                         :type="{'is-danger': hasError('avatar')}"
                         :message="getError('avatar')">
                    <b-upload v-model="form.avatar"
                              accept="image/*"
                              @input="handleFileInput"
                              ref="upload"
                              drag-drop>
                        <section class="section">
                            <div class="content has-text-centered">
                                <p v-if="previewImage.src.length">
                                    <img :src="previewImage.src" class="upload-image">
                                </p>
                                <p>Drop your avatar here or click to upload</p>
                            </div>
                        </section>
                    </b-upload>
                </b-field>
            </section>
            <footer class="modal-card-foot">
                <b-button type="is-primary" :loading="loading" native-type="submit">Update</b-button>
            </footer>
        </div>
    </form>
</template>

<script>
  import http from '../../services/http'
  import { ErrorsMixin } from '../../mixins/ErrorsMixin'

  export default {
    name: 'EditStaffComponent',
    props: ['employee'],
    data () {
      return {
        previewImage: {
          src: this.employee.avatar,
        },
        loading: false,
        form: {
          name: this.employee.name,
          surname: this.employee.surname,
          patronymic: this.employee.patronymic,
          avatar: null,
        },
      }
    },
    mixins: [ErrorsMixin],
    methods: {
      editStaff () {
        this.loading = true
        this.errors = []

        let formData = new FormData()
        formData.append('name', this.form.name)
        formData.append('surname', this.form.surname)
        formData.append('patronymic', this.form.patronymic)
        if (this.form.avatar) {
          formData.append('avatar', this.form.avatar)
        }
        formData.append('_method', 'PUT')

        http.post('/staff/' + this.employee.id, formData).then((r) => {
          this.$buefy.notification.open({
            message: 'Employee created successfully!',
            type: 'is-success',
          })
          this.$emit('updatedEmployee', r.data.data)
          this.loading = false
        }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors
          }
          this.loading = false
        })
      },
      handleFileInput: function (image) {
        let self = this
        self.form.avatar = image
        let reader = new FileReader()
        reader.onload = function (e) {
          self.previewImage = { src: e.target.result }
        }
        reader.readAsDataURL(image)
      },
    },
  }
</script>

<style lang="scss" scoped>
    img {
        height: 124px;
    }
</style>