<template>
    <div>
        <navbar-component></navbar-component>
        <section class="section">
            <div class="container">
                <router-view></router-view>
            </div>
        </section>
    </div>
</template>

<script>
  import NavbarComponent from './components/NavbarComponent'
  export default {
    name: 'AppComponent',
    components: { NavbarComponent },
  }
</script>

<style scoped>

</style>