<template>
    <div>
        <h1 class="title">
            PHP Developer Test
        </h1>
        <p class="subtitle">
            Laravel & Vue.js! Task Management Tool
        </p>
    </div>
</template>

<script>
  export default {
    name: 'HomePage',
  }
</script>

<style scoped>

</style>