<template>
    <div>
        <button class="button is-primary is-pulled-right"
                @click="isComponentModalActive = true">
            Create Employee
        </button>
        <b-modal :active.sync="isComponentModalActive"
                 :width="640"
                 has-modal-card
                 trap-focus
                 aria-role="dialog"
                 aria-modal>
            <create-staff-component @createdEmployee="addEmployeeToList"></create-staff-component>
        </b-modal>
        <b-modal :active.sync="isEditComponentModalActive"
                 :width="640"
                 has-modal-card
                 trap-focus
                 aria-role="dialog"
                 aria-modal>
            <edit-staff-component :employee="activeEmployeeData"
                                  @updatedEmployee="updateEmployeeFromList"></edit-staff-component>
        </b-modal>

        <h1 class="title is-1">Staff</h1>

        <form>
            Search by`
            <b-field grouped>
                <b-field label="Full name">
                    <b-input v-model="searchData.fullName"></b-input>
                </b-field>
            </b-field>
        </form>

        <h5 class="title is-5">Results</h5>
        <b-table :data="results" :loading="loading">
            <template slot-scope="props">
                <b-table-column field="avatar" width="64">
                    <img :src="props.row.avatar">
                </b-table-column>

                <b-table-column field="id" label="ID" width="40" numeric>
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column field="name" label="Name">
                    {{ props.row.name }}
                </b-table-column>

                <b-table-column field="surname" label="Surname">
                    {{ props.row.surname }}
                </b-table-column>

                <b-table-column field="patronymic" label="Patronymic">
                    {{ props.row.patronymic }}
                </b-table-column>

                <b-table-column field="actions" label="Actions">
                    <b-button type="is-primary" @click="openEditModal(props.row)">Edit</b-button>
                </b-table-column>
            </template>
            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                    icon="emoticon-sad"
                                    size="is-large">
                            </b-icon>
                        </p>
                        <p>Nothing here.</p>
                    </div>
                </section>
            </template>
        </b-table>
    </div>
</template>

<script>
  import http from '../services/http'
  import CreateStaffComponent from '../components/Staff/CreateStaffComponent'
  import EditStaffComponent from '../components/Staff/EditStaffComponent'

  export default {
    name: 'StaffPage',
    components: { CreateStaffComponent, EditStaffComponent },
    data () {
      return {
        loading: false,
        isComponentModalActive: false,
        isEditComponentModalActive: false,
        activeEmployeeData: {},
        staff: [],
        searchData: {
          fullName: null,
          task: null,
        },
      }
    },
    computed: {
      results () {
        return this.staff
      },
    },
    watch: {
      searchData: {
        handler (val) {
          let data = JSON.parse(JSON.stringify(val))
          this.getStaff(data)
        },
        deep: true,
      },
    },
    created () {
      this.getStaff()
    },
    methods: {
      getStaff (filter = null) {
        this.loading = true

        if (filter) {
          filter = Object.keys(filter).filter(key => filter[key] !== 0).reduce((obj, key) => {
            obj[key] = filter[key]
            return obj
          }, {})
        }

        http.get('/staff', { params: filter }).then(r => {
          this.staff = r.data.data
          this.loading = false
        })
      },
      addEmployeeToList (employee) {
        this.staff.push(employee)
      },
      updateEmployeeFromList (employee) {
        let foundIndex = this.staff.findIndex(x => x.id === employee.id)
        this.staff[foundIndex] = employee
      },
      openEditModal (employee) {
        this.activeEmployeeData = employee
        this.isEditComponentModalActive = true
      },
    },
  }
</script>

<style scoped>

</style>