<template>
    <div>
        <button class="button is-primary is-pulled-right"
                @click="isComponentModalActive = true">
            Create Task
        </button>
        <b-modal :active.sync="isComponentModalActive"
                 :width="640"
                 has-modal-card
                 trap-focus
                 aria-role="dialog"
                 aria-modal>
            <create-task-component @createdTask="addTaskToList"></create-task-component>
        </b-modal>
        <b-modal :active.sync="isEditComponentModalActive"
                 :width="640"
                 has-modal-card
                 trap-focus
                 aria-role="dialog"
                 aria-modal>
            <edit-task-component :task="activeTaskData"
                                 @updatedTask="updateTaskFromList"></edit-task-component>
        </b-modal>

        <h1 class="title is-1">Tasks</h1>

        <form>
            Search by`
            <b-field grouped>
                <b-field label="Title">
                    <b-input v-model="searchData.title"></b-input>
                </b-field>
                <b-field label="Description">
                    <b-input v-model="searchData.description"></b-input>
                </b-field>
                <b-field label="Status">
                    <b-select placeholder="Select a status" v-model="searchData.status_id">
                        <option :value="null">All</option>
                        <option value="1">To Do</option>
                        <option value="2">Doing</option>
                        <option value="3">Done</option>
                    </b-select>
                </b-field>
            </b-field>
        </form>

        <h5 class="title is-5">Results</h5>
        <b-table :data="results" :loading="loading">
            <template slot-scope="props">
                <b-table-column field="id" label="ID" width="40" numeric>
                    {{ props.row.id }}
                </b-table-column>

                <b-table-column field="title" label="Title">
                    {{ props.row.title }}
                </b-table-column>

                <b-table-column field="description" label="Description">
                    {{ props.row.description }}
                </b-table-column>

                <b-table-column field="status" label="Status">
                    {{ props.row.status }}
                </b-table-column>

                <b-table-column field="employees" label="Employees">
                    <template v-for="employee in props.row.employees">
                        <span class="tag is-success">
                            {{ employee.name }} {{ employee.surname }}
                        </span> &nbsp;
                    </template>
                </b-table-column>

                <b-table-column field="created_at" label="Created At">
                    {{ props.row.created_at }}
                </b-table-column>

                <b-table-column field="actions" label="Actions">
                    <b-button type="is-primary" @click="openEditModal(props.row)">Edit</b-button>
                </b-table-column>
            </template>
            <template slot="empty">
                <section class="section">
                    <div class="content has-text-grey has-text-centered">
                        <p>
                            <b-icon
                                    icon="emoticon-sad"
                                    size="is-large">
                            </b-icon>
                        </p>
                        <p>Nothing here.</p>
                    </div>
                </section>
            </template>
        </b-table>
    </div>
</template>

<script>
  import http from '../services/http'
  import CreateTaskComponent from '../components/Task/CreateTaskComponent'
  import EditTaskComponent from '../components/Task/EditTaskComponent'

  export default {
    name: 'TasksPage',
    components: { CreateTaskComponent, EditTaskComponent },
    data () {
      return {
        loading: false,
        isComponentModalActive: false,
        isEditComponentModalActive: false,
        activeTaskData: {},
        tasks: [],
        searchData: {
          title: null,
          description: null,
          status_id: null,
        },
      }
    },
    computed: {
      results () {
        return this.tasks
      },
    },
    watch: {
      searchData: {
        handler (val) {
          let data = JSON.parse(JSON.stringify(val))
          this.getTasks(data)
        },
        deep: true,
      },
    },
    created () {
      this.getTasks()
    },
    methods: {
      getTasks (filter = null) {
        this.loading = true

        if (filter) {
          filter = Object.keys(filter).filter(key => filter[key] !== 0).reduce((obj, key) => {
            obj[key] = filter[key]
            return obj
          }, {})
        }

        http.get('/task', { params: filter }).then(r => {
          this.tasks = r.data.data
          this.loading = false
        })
      },
      addTaskToList (task) {
        this.tasks.push(task)
      },
      updateTaskFromList (task) {
        let foundIndex = this.tasks.findIndex(x => x.id === task.id)
        this.tasks[foundIndex] = task
      },
      openEditModal (task) {
        this.activeTaskData = task
        this.isEditComponentModalActive = true
      },
    },
  }
</script>

<style scoped>

</style>