<template>
    <form @submit.prevent="createTask">
        <div class="modal-card" style="width: 640px">
            <header class="modal-card-head">
                <p class="modal-card-title">Create Task</p>
            </header>
            <section class="modal-card-body">
                <b-field label="Title"
                         :type="{'is-danger': hasError('title')}"
                         :message="getError('title')">
                    <b-input
                            type="text"
                            v-model="form.title"
                            placeholder="Task Title"
                            required>
                    </b-input>
                </b-field>
                <b-field label="Description"
                         :type="{'is-danger': hasError('description')}"
                         :message="getError('description')">
                    <b-input
                            type="textarea"
                            maxlength="1000"
                            v-model="form.description"
                            placeholder="Task De Surname"
                            required>
                    </b-input>
                </b-field>
                <b-field label="Status"
                         :type="{'is-danger': hasError('status_id')}"
                         :message="getError('status_id')">
                    <b-select placeholder="Select a status" v-model="form.status_id">
                        <option value="1">To Do</option>
                        <option value="2">Doing</option>
                        <option value="3">Done</option>
                    </b-select>
                </b-field>
                <b-field label="Assign Employees"
                         :type="{'is-danger': hasError('employees')}"
                         :message="getError('employees')">
                    <b-taginput
                            v-model="form.employees"
                            :data="filteredEmployees"
                            autocomplete
                            :allow-new="false"
                            :open-on-focus="true"
                            field="name"
                            placeholder="Add a Employee"
                            @typing="getFilteredEmployees">
                    </b-taginput>
                </b-field>
            </section>
            <footer class="modal-card-foot">
                <b-button type="is-primary" :loading="loading" native-type="submit">Create</b-button>
            </footer>
        </div>
    </form>
</template>

<script>
  import http from '../../services/http'
  import { ErrorsMixin } from '../../mixins/ErrorsMixin'

  export default {
    name: 'CreateTaskComponent',
    data () {
      return {
        loading: false,
        employees: [],
        filteredEmployees: [],
        form: {
          title: '',
          description: '',
          status_id: 1,
          employees: [],
        },
      }
    },
    mixins: [ErrorsMixin],
    created () {
      this.getEmployees()
    },
    methods: {
      getEmployees () {
        http.get('/staff').then(r => {
          this.employees = this.filteredEmployees = r.data.data
          this.loading = false
        })
      },
      createTask () {
        this.loading = true
        this.errors = []

        http.post('/task', this.form).then((r) => {
          this.$buefy.notification.open({
            message: 'Task created successfully!',
            type: 'is-success',
          })
          this.$emit('createdTask', r.data.data)
          this.loading = false
          this.form = {}
        }).catch(error => {
          if (error.response.status === 422) {
            this.errors = error.response.data.errors
          }
          this.loading = false
        })
      },
      getFilteredEmployees (text) {
        this.filteredEmployees = this.employees.filter((option) => {
          return option.name.toString().toLowerCase().indexOf(text.toLowerCase()) >= 0
        })
      },
    },
  }
</script>

<style lang="scss" scoped>
    img {
        height: 124px;
    }
</style>